{% extends "index.html" %}
{% block content %}
    <h2 style="text-align: center;">Suivre d'autres utilisateurs</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="forms">
            <tr>
                <td>{{ form }}</td>
                <td><input type="submit" value="Envoyer"></td>
            </tr>
        </div> 
    </form>
    <h2 style="text-align: center;">Abonnements</h2>
    <table>
        <tr>
            {% for user in user_follows %}
            {% if  user.user == current_user%}
            <td>{{ user.followed_user }}</td>
            <td><a href={% url 'subscriptions_delete' user.pk %}>Se désabonner</a> </td>
             {% endif %}
        </tr>
    </table>
        {% empty %}
            <p>Vous ne suivez aucun utilisateurs</p> 
        {% endfor %}
    <h2 style="text-align: center;">Abonnés</h2>
    <ul>
        {% for subscriber in subscribers %}
            <li>{{ subscriber.user }}</li>
    </ul>
        {% empty %}
            <p>Aucun utilisateurs ne vous suit</p>
        {% endfor %}
{% endblock content%}