
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
header
{
    border-bottom: 1px solid black;
}

body
{
    border: 1px solid black;
    padding-bottom: 30px;
    font-family: "open sans", helvetica, Arial, sans-serif;
    background-color: #fefefe;
    background: #67BE4B;
    width: 70%;
    position: absolute;
    right: 15%;
    align-content: center;
}

#mainTitle
{
    text-align: center;
}

#nav__flux, #nav__abo, #nav__logout, #nav__post
{
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 15px;
}

#header_menu
{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.mainSection
{
    width: 75%;
    min-width: 400px;
    margin: auto;
}

h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#block__connection
{
    display: flex;
    justify-content: space-between;
}

#block__registration
{
    width: 50%;
}

#block__login
{
    width: 50%;
}

#ticket_description
{
    width: 400px;
}

#ticket_title
{
    width: 400px;
    height: 400px;
}

.flux__nav
{
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
    margin-bottom: 20px;
}

.flux__nav__link
{
    border: 1px, solid, black;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 15px;
}

form
{
    border: 1px, solid, black;
    text-align: justify;
}

a
{
    color: blue;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px 4px;
    text-decoration: none;
}
a:focus,
a:hover {
  text-decoration-color: blueviolet;
}

.ticket
{
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}

.review
{
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}

#nav__username
{
    text-align: left;
    margin-left: 15px;
}

.forms
{
    text-align: center;
    text-align: justify;
}

.btn
{
    border: 1px, solid, black;
    margin-left: 15 px;
}

.create_review
{
    border: 1px, solid, black;
}

.subscriber_list
{
    display: flex;
    text-align: right;
    margin-left: 5px;
}

input {
  font: inherit;
  padding: 0.2em 0.5em;
}

#btn__goToLogin {
 color: blue;
 font-size: 14px;
 width: 135px;
 height: 30px;
 margin: 1px;
 padding: 1px;
 border: 1px, solid, black;
 background-color: burlywood;
}

#btn__validateRegistration {
 color: blue;
 font-size: 14px;
 width: 135px;
 height: 30px;
 margin: 1px;
 padding: 1px;
 border: 1px, solid, black;
 background-color: burlywood;
}

#btn__toLogin {
 color: blue;
 font-size: 14px;
 width: 135px;
 height: 30px;
 margin: 1px;
 padding: 1px;
 border: 1px, solid, black;
 background-color: burlywood;

}